
/* -----------------------------------------------------------
# Custom Stuff
------------------------------------------------------------ */
:root {
  --clr-accent: #a80041;
  --clr-darkpurp: #0C051A;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Roboto Mono', monospace;
  color: #272829;
}
